Trabalho2/lib/util.o
Trabalho2/lib/thread.o
Trabalho2/lib/queue.o
Trabalho2/lib/lock.o
Trabalho2/lib/libt.a
Trabalho2/lib/entry.o
Trabalho2/examples/basic/test
Trabalho2/examples/plane/plane
Trabalho2/examples/lock/test
Trabalho2/examples/contextChangeTime/contextChangeTime
Trabalho2/examples/scheduler/scheduler
